<section class="game-detail">
  <div class="back-arrow">
    <a routerLink="/game">
      <img src="assets/back.arrow.png" alt="back-arrow" height="50">
    </a>
  </div>
  <div class="game-picture">
    <img class="game-image" src="assets/field01.jpg" alt="" height="400" />
  </div>
  <div class="game-title">
    <p>{{ this.game.location }}</p>
    <p>{{ this.game.schedule.toString() }}</p>
    <p>{{ this.game.schedule.toString() }}</p>
  </div>
  <div class="game-card">
    <p>Game type: {{ this.game.gameType }}</p>
    <p>Level: {{ this.game.level }}/5</p>
    <p>Gender: {{ this.game.gender }}</p>
    <p>Owner: {{ this.game.owner.userName }}</p>
    <p>Spots: {{ this.game.spotsLeft}}</p>
    <p>Players:</p>
    <p *ngFor="let item of this.game.players">{{ item.userName }}</p>
  </div>
  <div class="button">
    <button class="join-button" *ngIf="isLogged && !isOwner" (click)="handleJoin()">Join Game</button>
    <button class="edit-button" *ngIf="isLogged && isOwner" (click)="handleEdit()">Edit Game</button>
    <button class="delete-button" *ngIf="isLogged && isOwner" (click)="handleDelete()">Delete Game</button>
  </div>

</section>
<app-menu></app-menu>
