app-header,
main {
  height: 100vh;
  font-family: inherit;
  position: relative;
  min-height: 100vh;
}

main {
  background-image: url("../../../assets/home.background.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
