<section class="game-list">
  <div class="title-games">
    <h2>GAMES</h2>
  </div>
  <ul>
    <li *ngFor="let item of gameService.games$ | async">
      <a [routerLink]="item.id">
        <div class="item-container">
          <img class="image-game" src="assets/field01.jpg" alt="" height="150px" />
          <div class="info-game">
            <p class="location">{{ item.location }}</p>
            <p>{{ item.schedule.toString() }}</p>
            <p>{{ item.schedule.toString() }}</p>
            <p>Type: {{ item.gameType }}</p>
            <p>Level: {{ item.level }}/5</p>
            <p>Gender: {{ item.gender }}</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
<div class="button-container">
  <button class="previous" (click)="handlePrevious()"
    [disabled]="(gameService.prev$ | async) === null">Previous</button>
  <button class="next" (click)="handleNext()" [disabled]="(gameService.next$ | async) === null">Next</button>
</div>
<app-menu></app-menu>
