<section class="game-list">
  <div class="title-games">
    <h2>GAMES</h2>
  </div>
  <ul>
    <li *ngFor="let item of items">
      <a [routerLink]="item.id">
        <div class="item-container">
          <img class="image-game" src="assets/field01.jpg" alt="" height="150px" />
          <div class="info-game">
            <p class="location">{{ item.location }}</p>
            <p>{{ item.schedule.toString().slice(0,-14) }}</p>
            <p>{{ item.schedule.toString().slice(0,-8).slice(11) }}</p>
            <p>Type: {{ item.gameType }}</p>
            <p>Level: {{ item.level }}/5</p>
            <p>Gender: {{ item.gender }}</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <app-menu></app-menu>
</section>
