<section class="game-list">
  <div class="title-games">
    <h2>GAMES</h2>
  </div>
  <div class="filter-container">
    <button class="f11" data-id="f11" (click)="handleFilter($event)">11 vs 11</button>
    <button class="f7" data-id="f7" (click)="handleFilter($event)">7 vs 7</button>
    <button class="f5" data-id="f5" (click)="handleFilter($event)">5 vs 5</button>
  </div>
  <ul>
    <li *ngFor="let item of gameService.games$ | async">
      <a [routerLink]="item.id">
        <div class="item-container">
          <img class="image-game" src="{{ item.location.avatar }}" alt="" height="150px" />
          <div class="info-game">
            <p class="location">{{ item.location.name }}</p>
            <p>{{ item.schedule.toString() }}</p>
            <p>{{ item.schedule.toString() }}</p>
            <p>Type: {{ item.gameType }}</p>
            <p>Level: {{ item.level }}/5</p>
            <p>Gender: {{ item.gender }}</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <div class="button-container">
    <button class="previous" (click)="handlePrevious()"
      [disabled]="(gameService.prev$ | async) === null">Previous</button>
    <button class="next" (click)="handleNext()" [disabled]="(gameService.next$ | async) === null">Next</button>
  </div>
</section>

<app-menu></app-menu>
