<section class="login">
  <a><img alt="" /></a>
  <form class="login-form" [formGroup]="login" (submit)="handleLogin()">
    <label for="user">Username or email address</label>
    <input type="text" id="user" formControlName="user" required>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" required>
    <button type="submit">Log In</button>
  </form>
  <div>
    <span>Do not have an account?</span>
    <span><a routerLink="/signup">Sign Up</a></span>
  </div>
</section>
